.DS_Store
*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
*.iml
*.iws
*.ipr

**/node_modules/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

frontend/dist/

backend/dist/
backend/build/

.env
.env.local
.env.*.local

.cache/
.vite/
