option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    AUTH0_AUDIENCE:
    AUTH0_ISSUER_BASE_URL: https://**************.auth0.com
    BACKEND_PORT: 8080
    CLOUDINARY_API_KEY:
    CLOUDINARY_API_SECRET:
    CLOUDINARY_CLOUD_NAME:
    FRONTEND_URL: https://***.example.com
    MONGODB_CONNECT_STRING: mongodb://johndoe:******@documentdbcluster-*******.cluster-*******.ca-central-1.docdb.amazonaws.com:27017/?tls=true&tlsCAFile=global-bundle.pem&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false
    DB_CONNECTION_TLS_ENABLED: true
    DB_CONNECTION_CA_FILE_PATH: /etc/ssl/certs/global-bundle.pem
    STRIPE_SECRET_KEY:
    STRIPE_WEBHOOK_SECRET: